ACUSTICAFAUNA_ML_ROOT=.
ACUSTICAFAUNA_MODELS_DIR=./models
ACUSTICAFAUNA_MANIFESTS_DIR=./manifests
ACUSTICAFAUNA_OUTPUTS_DIR=./outputs
ACUSTICAFAUNA_ML_RUNS_DIR=./ml_runs
ACUSTICAFAUNA_ML_UPLOAD_TTL_SECONDS=86400
ACUSTICAFAUNA_RESOURCE_PROFILE=auto
ACUSTICAFAUNA_MAX_CPU_THREADS=auto
ACUSTICAFAUNA_MAX_WORKERS=auto
ACUSTICAFAUNA_DEVICE=auto
